.App {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  color: white;
  display: grid;
  justify-items: center; /* 水平方向 */
  align-content: center; /* 垂直方向 */
  row-gap: 1vh;
}

.explain {
  font-size: 18px;
  margin-bottom: 1vh;
  justify-items: center;
}

.explain > div:nth-of-type(2) {
  font-size: 14px;
  margin-top: 3px;
}

#questionContainer {
  position: relative;
  background-color: black;
  overflow: hidden;
  margin: 0 auto 0.8vh;
}

/* 画面が横長の場合 */
@media (orientation: landscape) {
  #questionContainer {
    height: 75vh;
    width: 75vh;
  }
}

/* 画面が縦長の場合 */
@media (orientation: portrait) {
  #questionContainer {
    height: 75vw;
    width: 75vw;
  }
}

.startButton {
  height: calc(16px + 4vh);
  width: fit-content;
  padding-inline: 1em 1em;
  font-size: 16px;
}

.buttons {
  display: flex;
  margin-top: 3px;
}

.buttons > button {
  height: calc(18px + 4vh);
  width: fit-content;
  font-size: 18px;
  padding-inline: 0.7em 0.7em;
}

.buttons > button:nth-of-type(2) {
  margin: 0 0.8vw;
}

@keyframes perfect {
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}